.flex {
  display: flex;
}

.content-holder {
  flex-basis: 65%;
}

/* .book-carousel-div {
  display: flex;
  flex-wrap: wrap;
}

.a-book {
  flex-basis: 50%;
} */

@media screen and (min-width: 700px) {
  .header {
    display: flex;
  }

  div.full-description {
    display: flex;
  }

  h2 {
    padding-left: 1rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex-wrap: wrap;
    justify-content: center;
  }

  .a-book {
    flex-basis: 25%;
  }

  .content-holder {
    flex-basis: 70%;
  }

  div.container.full-description {
    max-width: 80%;
    margin: auto;
  }

  .navbar-div,
  .container {
    max-width: 80%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .a-book {
    flex-basis: 20%;
  }

  a.flex {
    display: inline;
  }

  .content-holder {
    flex-basis: 100%;
  }

  .container {
    max-width: 80%;
    margin: auto;
    margin-top: 1rem;
  }

  div.container.full-description {
    max-width: 80%;
    margin: auto;
  }
}
