.flex {
  display: flex;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
  }

  .container {
    padding: 0 15rem;
  }

  h2 {
    padding-left: 1rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex-basis: 50%;
  }
}
