.flex {
  display: flex;
}

.content-holder {
  flex-basis: 65%;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
  }

  div.full-description {
    display: flex;
  }

  h2 {
    padding-left: 1rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  .a-book {
    flex-basis: 50%;
  }

  .content-holder {
    flex-basis: 70%;
  }

  div.container.full-description {
    max-width: 80%;
    margin: auto;
  }

  .navbar-div,
  .container {
    max-width: 80%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .a-book {
    flex-basis: 30%;
  }

  a.flex {
    display: inline;
  }

  .content-holder {
    flex-basis: 100%;
  }

  .container {
    max-width: 60%;
    margin: auto;
  }

  div.container.full-description {
    max-width: 80%;
    margin: auto;
  }
}
