body {
  font-family: Merriweather, serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0.8rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid #333;
}

.my-books {
  flex-basis: 100%;
}

.book-list-img {
  height: 13.625rem;
  max-width: 10.25rem;
}

ul {
  padding: 0 1rem;
}

h2 {
  margin: 0.5rem 0;
}

.content-holder {
  margin-left: 0.8rem;
}

.header-lover {
  font-weight: 100;
}

.no-margin {
  margin: 0;
}

.margin-top {
  margin: 0.8rem 0 0;
}

.number-of-weeks {
  color: rgba(118, 120, 119, 1);
  font-size: 0.75rem;
  margin: 0;
  font-weight: bold;
}

.title {
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
  margin: 0;
}

.title:hover {
  color: rgba(118, 120, 119, 1);
}

div.rating {
  font-size: 1.2rem;
}

.rating {
  font-size: 0.8rem;
}

.author {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 0.3rem;
}

.description,
.genres,
.genre-name {
  font-size: 0.8rem;
  text-align: justify;
}

.genres {
  font-weight: 600;
}

.show {
  display: block;
}

.header-lover-h2 {
  flex-basis: 100%;
  color: rgb(0, 0, 0);
}

.position-sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.more-details-p {
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}

.more-details-p:hover {
  color: rgba(118, 120, 119, 1);
}

div.full-description {
  text-align: center;
  padding: 1rem;
}

.more-details-img {
  width: 80%;
}

.title-more-details {
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.fa-star {
  margin: 0 0.3rem;
}

.fa-circle-user {
  font-size: 2.3rem;
  color: rgb(0, 0, 0);
}

.modal {
  position: fixed;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0);
  background-color: rgba(0, 0, 0, 0.632);
}

.fa-xmark {
  position: absolute;
  right: 1rem;
}

.auth-modal-content {
  position: relative;
  background-color: #fefefe;
  border-radius: 0.95rem;
  margin: 3rem auto;
  padding: 1.1rem;
  border: none;
  max-width: 80%;
  text-align: left;
}

.sing-up-header {
  margin-bottom: 0;
}

.sing-up-text {
  font-size: 0.7rem;
}

.auth-margin {
  margin: 1rem 0 0;
}

.log-in-a {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.input {
  padding: 0.2rem 0.5rem;
  width: 100%;
  background: white;
  border-radius: 0.99rem;
  font-family: inherit;
  cursor: inherit;
}

input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 0.5625em;
}

.auth-button {
  cursor: pointer;
  font-family: Merriweather, serif;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: rgba(17, 17, 24, 1);
  padding: 0.6rem 4rem;
  border-radius: 0.9375rem;
  border: none;
}

.y-button,
.n-button {
  cursor: pointer;
  font-family: Merriweather, serif;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: rgba(17, 17, 24, 1);
  padding: 0.6rem 1rem;
  border-radius: 1.9375rem;
  border: none;
}

.n-button {
  font-weight: 600;
  color: rgba(17, 17, 24, 1);
  background-color: transparent;
}

.delete-header {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 100;
  margin-bottom: 0;
}

.y-n-holder {
  flex-wrap: wrap;
}

.flex-basis-100 {
  flex-basis: 100%;
}

.add-button,
.buy-button {
  cursor: pointer;
  font-family: Merriweather, serif;
  font-size: 0.95rem;
  text-align: center;
  color: white;
  background-color: rgba(17, 17, 24, 1);
  padding: 0.8rem 1.5rem;
  border-radius: 1.5rem;
  border: none;
}

.button-holder {
  text-align: center;
  margin: 2rem 0 0;
}

.add-button-holder {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.button-holder-more-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 1rem;
}

.hidden {
  display: none;
}

.search {
  margin-top: 0.6rem;
}

.fa-search {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

.search-submit {
  background-color: rgb(255, 255, 255);
  border: none;
}

.box {
  flex-basis: 50%;
}

.description-overflow {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.5em;
  line-height: 1.2em;
  font-size: 0.8rem;
  padding-right: 2rem;
}

.my-buttons {
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1rem;
}

.dropdown-profile-menu {
  background-color: rgba(17, 17, 24, 1);
  position: fixed;
  padding: 10rem 0.5rem 0;
  right: 0;
  top: 0;
  height: 13.3rem;
  width: 6rem;
  overflow: auto;
}

.a-profile {
  font-weight: 100;
  text-align: left;
  color: white;
  display: block;
  border-bottom: 0.11rem solid rgba(255, 255, 255, 0.25);
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.center {
  text-align: center;
  margin-top: 15rem;
}

.not-found-a {
  text-decoration: underline;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgba(17, 17, 24, 1);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

.navbar-h1 {
  font-size: 1.35rem;
  font-weight: 100;
  margin: 1rem 0 0;
  padding: 0 1rem;
}

.navbar-h4 {
  color: rgba(118, 120, 119, 1);
  font-weight: 100;
  padding: 0 1rem;
  margin: 0.5rem 0 0;
  font-size: 0.8rem;
}

.select-monthly-list {
  border: none;
  font-family: inherit;
}

.flex-navbar {
  padding: 0 1rem;
}

.navbar-select {
  color: #333;
  font-size: 0.6875rem;
  font-weight: 400;
  font-family: inherit;
  border: none;
  width: 6.6rem;
  padding: 0.5rem 0;
}

.navbar-p:hover {
  cursor: pointer;
  color: black;
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.carousel-content.show-5 > * {
  width: calc(100% / 5);
}

.mobile-view {
  display: contents;
}

.desktop-view {
  display: none;
}

@media (hover: none) and (pointer: coarse) {
  .fa-chevron-right,
  .fa-chevron-left {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .h4-footer {
    border-bottom: 1px solid #ccc;
  }

  .column-third {
    border-right: 1px solid #ccc;
    padding-left: 1rem;
  }

  .fa-angle-right {
    font-size: 0.8rem;
    margin-left: 0.3rem;
  }

  .category-a {
    font-size: 1rem;
    font-weight: 800;
  }

  .a-footer:hover,
  .category-a:hover {
    text-decoration: underline;
  }

  .content-holder {
    margin: 0 0.8rem;
    text-align: center;
  }

  .desktop-view {
    display: contents;
    margin-top: 1rem;
  }

  .mobile-view {
    display: none;
  }

  .flex-navbar {
    padding: 0;
    border-top: 1px solid #ccc;
  }

  .navbar-select {
    width: 7rem;
  }

  .navbar-p {
    margin: 0 0.5rem 0.5rem 0;
  }

  .header {
    padding: 0;
    align-items: baseline;
  }

  ul {
    padding: 0;
  }

  .more-details-img {
    height: 31.25rem;
    width: 20.563rem;
  }

  .book-list-img {
    height: 10.625rem;
    max-width: 8.25rem;
  }

  .content-holder-more-details {
    margin-left: 1rem;
  }

  .title {
    font-size: 0.75rem;
    cursor: pointer;
  }

  .author {
    font-size: 0.65rem;
    font-weight: 600;
  }

  .description {
    font-size: 0.5rem;
  }

  .number-of-weeks {
    font-size: 0.65rem;
  }

  .my-books {
    flex-basis: 20%;
  }

  .header-lover-h2 {
    flex-basis: 25%;
    margin: 1rem 0 0.5rem;
  }

  .dropdown-list-holder {
    flex-basis: 25%;
    padding: 0 0 1rem;
  }

  .position-sticky {
    position: sticky;
    align-items: baseline;
  }

  .more-details {
    padding-right: 2rem;
  }

  .more-details-p {
    font-size: 0.8rem;
    padding-right: 2rem;
  }

  div.full-description {
    text-align: inherit;
  }

  .no-padding {
    padding: 0;
  }

  i.fa-star {
    margin: 0 0.1rem;
  }

  p.rating {
    margin-left: 0.3rem;
  }

  div.rating {
    display: flex;
    align-items: center;
  }

  .auth-modal-content {
    margin: auto;
    padding: 1.1rem;
    border: none;
    max-width: 25%;
  }

  .fa-circle-user {
    font-size: 2.4rem;
    margin-right: 1rem;
    color: black;
  }

  .add-button,
  .buy-button {
    font-size: 0.7rem;
    padding: 0.5rem 1.1rem;
    border-radius: 0.9375rem;
    border: none;
  }

  .buy-button {
    padding: 0.5rem 1.7rem;
  }

  .a-button-holder,
  .buy-button-holder {
    flex-basis: 100%;
    margin: 1rem 0 0;
  }

  .box {
    flex-basis: 15%;
  }

  .profile-menu {
    flex-basis: 10%;
    text-align: end;
  }

  .delete-button-holder,
  .a-button-holder {
    flex-basis: 100%;
    margin-top: 1rem;
  }

  .delete-button {
    padding: 0.5rem 2.2rem;
  }

  .modal {
    padding-top: 15rem;
  }

  .dropdown-profile-menu {
    padding: 5rem 0.5rem 0;
    height: 8rem;
    width: 6rem;
  }

  .my-buttons {
    flex-wrap: wrap;
    margin: 0;
  }

  .search {
    text-align: left;
  }

  .input {
    width: 80%;
    border: solid;
  }

  .navbar-h1 {
    font-size: 1.7rem;
    font-weight: 100;
    margin: 1rem 0 0;
    padding: 0;
  }

  .navbar-h4 {
    padding: 0 0 1rem;
    margin: 0;
  }

  .navbar-div {
    border-bottom: solid 0.15rem rgb(75, 75, 75);
  }

  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
    top: 35%;
    transform: translateY(-50%);
  }

  .fa-chevron-left {
    left: 0;
  }

  .fa-chevron-right {
    right: 0;
  }
}

@media (min-width: 1024px) {
  .author {
    font-size: 0.75rem;
  }

  .title {
    font-size: 1rem;
  }

  .number-of-weeks {
    font-size: 0.8rem;
  }

  div.full-description {
    padding: 1rem 0;
  }

  .description-overflow {
    padding: 0;
    font-size: 0.65rem;
  }

  .content-holder {
    text-align: center;
  }

  .book-list-img {
    height: 16.601rem;
    max-width: 11.9rem;
  }

  .description {
    font-size: 0.7rem;
    margin: 0.8rem 0 0;
    padding: 0;
    text-align: center;
  }

  .full-description {
    margin: 0.8rem 0;
    padding: 0;
    text-align: justify;
  }

  .search-submit {
    flex-basis: 100%;
  }

  .more-details-img {
    height: 31.25rem;
    width: 21.563rem;
  }

  .input {
    width: auto;
  }
  }
}
